@import 'tailwindcss';

:root {
  --color-c6: #141413;
  --color-c5: #2e2e2b;
  --color-c4: #61615b;
  --color-c3: #94948a;
  --color-c2: #c7c7ba;
  --color-c1: #e0e0d2;
  --color-c0: #fafaea;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-garamond: var(--font-eb-garamond);
  --font-merriweather: var(--font-merriweather);

  --color-c0: var(--color-c0);
  --color-c1: var(--color-c1);
  --color-c2: var(--color-c2);
  --color-c3: var(--color-c3);
  --color-c4: var(--color-c4);
  --color-c5: var(--color-c5);
  --color-c6: var(--color-c6);

  --color-gd: linear-gradient(135deg, #2e2e2b 0%, #1e1e1e 100%);
}
/* Adicione sua animação customizada aqui */
@layer base {
  @keyframes slowRotate {
    from {
      transform: rotate(0deg) scale(1);
    }
    to {
      transform: rotate(360deg) scale(1);
    }
  }

  body {
    color: var(--color-c4);
    font-family: var(--font-merriweather), Georgia, serif; /* Atualizado */
  }
}
/* app/globals.css */

/* --- Estilos Customizados para o Swiper Carrossel --- */

/* Cor e Espessura das Setas de Navegação */
.swiper-button-next,
.swiper-button-prev {
  /* Cor baseada no seu tema */
  color: var(--color-c4) !important;
}

/* Acessando o ícone da seta diretamente para deixá-lo mais espesso */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-weight: 900 !important; /* Deixa a linha do ícone bem mais grossa */
  font-size: 24px !important;   /* Aumenta um pouco o tamanho geral da seta */
}

/* Afastando as Setas dos Cards (Apenas em Telas Grandes) */
@media (min-width: 1024px) {
  .swiper-button-prev {
    /* Move a seta para a borda esquerda do carrossel */
    left: 0px !important;
  }
  .swiper-button-next {
    /* Move a seta para a borda direita do carrossel */
    right: 0px !important;
  }
}

/* --- Estilos da Paginação (Pontos) --- */

/* Cor dos pontos de paginação */
.swiper-pagination-bullet {
  background: var(--color-c4) !important;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

/* Cor do ponto de paginação ativo */
.swiper-pagination-bullet-active {
  opacity: 1;
}

/* app/globals.css */

/* --- Correção para o Fundo de Autocomplete do Navegador --- */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* Truque para "pintar" por cima do fundo azul do browser */
  -webkit-box-shadow: 0 0 0 30px none inset !important; /* << Use a cor de fundo do seu site (c0) */

  /* Força a cor do texto a ser a que definimos (c4) */

  /* Garante que a transição de cor da borda funcione */
  transition: background-color 5000s ease-in-out 0s;
}
